<html>
  <head></head>
  <body>
    <h1>Artist</h1>
    <% @artists.each do |artist| %>
    <div>
      Name: <a href="/artists/<%=artist.id%>"> <%=artist.name%> </a>
    </div>
    <% end %>
  </body>
</html>