<h1>Add an artist</h1>
<form action="/artists" method="POST">
  <label>Artist name:</label>
  <input type="text" name="name" /><br/>
  <label>Artist genre:</label>
  <input type="text" name="genre" /><br/>
  <input type="submit" value="Submit" />
</form>